$color-primary: #bae8e8;
$color-secondary: #e3f6f5;
$color-tertiary: #2c698d;
$color-clean: #ffffff;
$color-dark: #272643;
$color-body-text: #797979;
$color-background-form: #f7f7f7;
$color-error: #d25050;

$base-font-family: 'quicksand', sans-serif;
$number-font-family: 'robotobold', sans-serif;

$little-big-font-size: 1.8rem;
$medium-font-size: 1.6rem;
$small-font-size: 1.4rem;

$big-border-radius: 1rem;
$medium-border-radius: 0.5rem;
