/*··$VARIABLES··*/
//--------Colours----------//
$Color-primary: #bae8e8;
$Color-secondary: #e3f6f5;
$Color-tertiary: #2c698d;
$Color-clean: #ffffff;
$Color-dark: #272643;
$Color-body-text: #797979;
$Color-background-form: #f7f7f7;
$Color-error: #d25050;

//--------Fonts------------//
$Base-font: 'quicksand', sans-serif;
$Number-font: 'robotobold', sans-serif;
//Font weight
/*$Big-title-weight:;
$Small-title-weight:;
$Big-text-weight:;
$Small-text-weight:;
*/
//---------Font size------------//
$Little-big-font-size: 1.8rem;
$Medium-font-size: 1.6rem;
$Small-font-size: 1.4rem;

$Big-border-radius: 1rem;
$Medium-border-radius: 0.5rem;
//Titles
/*$H1-size:;
$H2-size:;
$H3-size:;
$H4-size:;
$H5-size:;
$H6-size:;

//others
$Big-p-size: ;
$Small-p-size:;
$Span-size:;
$Butt-size:;
$I-size:;

// Line height
$Title-height:;
$P-height:;*/

/*Font styles to: Desktop
//Titles
$Desk-h1-size:;
$Desk-h2-size:;
$Desk-h3-size:;
$Desk-h4-size:;
//$Desk-h5-size:;
//$Desk-h6-size:;

//others
$Desk-bigP-size:;
$Desk-smallP-size:;
$Desk-butt-size:;
$Desk-i-size:;

//Line height
$Desk-title-height:;
$Desk-text-height:;*/
